<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    <%=link_to todolist_path(list.id) do %>
      <% if list.image.attached? %>
        <%= image_tag list.image.variant(resize:'200x200') %>
      <% end %>
      <div class="list-comment">
        <span class="list-body"><%= list.body %></span>
        <span class="sentiment-score">本文の感情分析スコア<%= list.score %></span>
        <span class="list-title"><%= list.title %></span>
      </div>
    <% end %>
  </div>
<% end %>
</div>